body{
    background: #343a40;
}

.levelicon{
    padding-left: 10px;
}

.navbar {
    border-bottom: 1px solid black;
}

.navbar-brand img {
    border-right: 1px solid darkgrey;
    padding-right: 10px;
    margin-right: 5px;
}

.navbar-text {
    font-size: 0.9em;
}

.nav-link:hover {
    color: #3366ac !important;        
}

#applicationInfo::after{
    content: "{applicationName} {applicationVersion} (powered by Quarkus {quarkusVersion})";
    color: #9a9da0;
}

#segmentLog {
    font-size: 0.9em;
}

#followLogButton {
    position: fixed;
    right: 0px;
}