body{
    background: #343a40;
}

.levelicon{
    padding-left: 10px;
}

.navbar {
    border-bottom: 1px solid #414850;
}

.navbar-brand img {
    border-right: 1px solid darkgrey;
    padding-right: 10px;
    margin-right: 5px;
}

.navbar-text {
    font-size: 0.9em;
}

.nav-link:hover {
    color: #3366ac !important;        
}

.filtered {
    display: none;
}

#applicationInfo::after{
    content: "{applicationName} {applicationVersion} (powered by Quarkus {quarkusVersion})";
    color: #9a9da0;
}

#segmentLog {
    font-size: 0.9em;
}

#logTerminal {
    padding-bottom: 5px;
    line-height: 1.00;
}

#followLogButton {
    position: fixed;
    right: 10px;
    color: green;
}

#informationSection {
    position: fixed;
    right: 10px;
    bottom: 5px;
    color: white;
    font-size: 1.6em;
}

hr {
  border-top: 1px dashed #3366ac;
}