
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.log {
    margin-top: 5em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.text.red {
    color: #D95C5C;
}

.ui.inverted.menu {
    background: #343a40;
}